
### Mac OS X
.DS_STORE
.DS_Store

### PhpStorm
.idea/**

### Composer
/vendor
composer.phar
composer.lock

### GAE
app.yaml

### WordPress
/authkeys
/wp
/wp-content/*
!/wp-content/loader.php
!/wp-content/mu-plugins
/wp-content/mu-plugins/*
!/wp-content/mu-plugins/loader.php

