  AUTH_KEY: 'AUTH_KEY_VALUE'
  SECURE_AUTH_KEY: 'SECURE_AUTHKEY_VALUE'
  LOGGED_IN_KEY: 'LOGGED_IN_KEY_VALUE'
  NONCE_KEY: 'NONCE_KEY_VALUE'
  AUTH_SALT: 'AUTH_SALT_VALUE'
  SECURE_AUTH_SALT: 'SECURE_AUTHSALT_VALUE'
  LOGGED_IN_SALT: 'LOGGED_IN_SALT_VALUE'
  NONCE_SALT: 'NONCE_SALT_VALUE'